jupyterhub==0.9.6
numpy
scipy
matplotlib
pandas
xarray
netCDF4
fabric2
nbgitpuller
xlrd
seaborn
gmaps==0.8.4
bs4
parse
pyyaml
shapely[vectorized]
psycopg2
google.api.core
google.cloud
google.cloud.storage
lxml
ipywidgets
